#kopfzeile{
    width: 100%;
    font-size: 34px;
    box-shadow: 10px 10px 15px silver;
    font-family: Arial, Helvetica, sans-serif;
    /* align-items: center; */
}

#menue_Icon{
    display: inline;
}

#ueberschrift{
    display: inline;
}

ul{
    list-style-type: none;
}
#punkte_Icon{
    display: inline;
    float: right;
}

#plus_Icon{
    display: inline;
    float: right;
}