
body{
   margin: 0px;
   background-color: #ffffff;
   color: #000000;
}

#Liste{
    width: 100%;
    float: left;
}

.Listenelement{
    width: 100%;
    border: 1px solid grey;
    display: inline-block;
}

.Listenbild{
    width: 100px;
    margin: 5px;
}


#kopfzeile{   
    position: fixed;   
    width: 100%;
    height: 40px;
    background-color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 3px solid gray;
}

#menue_Icon{
    margin: calc(20px - 15px);
    float: left;
}

#ueberschrift{  
    
    margin: calc(20px - 15px) 0px 0px calc(20px - 15px);
    float: left;
}

#punkte_Icon{  
    margin: calc(20px - 15px);
    float: right;
}

#plus_Icon{   
    margin: calc(20px - 15px) 15px calc(20px - 15px) 15px;
    
    float: right;
}

/*################ Grauelinlie ################## */
.grauelinlie {
    background-color: D1D1D1;
    height: 52px;
}

/*################# Hauptteil ####################
#hauptteil{
    height: 150%;
    background-color: aqua;
}*/


/*liste
ul{
    list-style-type: none;
}
*/

/*################### Fusszeile #####################*/
#fusszeile{
    position: fixed;
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

#inhaltfusszeile{
    background-color: white;
    width: 100%;
    height: 40px;
    border-top: 3px solid orange;
}

#reload_Icon{  
    padding-bottom: 100px;
    float: right;
    padding: 5px;
}

#logout_Icon{
    padding-bottom: calc(20px - 15px);
    float: left;
    padding: 5px;
}

